
.container-footer {
    background-color: #292929;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 40px 100px 50px;
    width: 100%;
    position: relative;
    bottom: 0;
    /* border-top-left-radius: 5rem; */
    /* border-top-right-radius: 5rem; */
}

.Copyright > p {
    padding: 10px;
}

.container-footer .line {
    background-color: white;
    width: 20px;
    height: 6px;
    margin-top: 2px;
    border-radius: 40px;
    position: relative;
    animation: underline-animation 2s linear infinite;
}

@keyframes underline-animation {
    0% {
        left: -231px;
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        left: 229px;
        opacity: 0;
    }
}

