<div class="container-big-card">
    <div class="big-card-photo">
        <img src="../../../assets/imagens/print-pokedex-1.png" alt="image-big-card">
    </div>
    <div class="big-card-title">
        <h1>Novo projeto em angular [.blog]</h1>
    </div>
    <div class="big-card-description">
        <p>
            Lançamento do meu blog pessoal onde pretendo dar dicas, mostrar meus projetos e minha trajetória.
        </p>
    </div>
    <a href="#" target="_blank" class="buttonClass">Leia mais...</a>
</div>
