
<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div>
    <div class="container-articles">
        <div class="articles-main">
            <app-big-card cardDescription="Lançamento do meu blog pessoal onde pretendo dar dicas, mostrar meus projetos e minha trajetória."
            cardTitle="Novo projeto em angular [.blog]"
            photoCover="../../../assets/imagens/print-pokedex-1.png"></app-big-card>
            
        </div>
        <div class="articles-others">
            <app-small-card photoCover="../../../assets/imagens/print-pokedex-1.png" cardTitle="Dica para se manter motivado"></app-small-card>
            <app-small-card photoCover="../../../assets/imagens/print-pokedex-1.png" cardTitle="Dica para se manter motivado"></app-small-card>
            <app-small-card photoCover="../../../assets/imagens/print-pokedex-1.png" cardTitle="Dica para se manter motivado"></app-small-card>
        </div>
    </div>
</div>