<div class="container-menu-bar">
    <div class="container-logo">
        <a [routerLink]="['']">matheustorres.</a>
    </div>
    <div class="container-social-icons">
        <ul class="social-icons">
            <li><a href=""><img src="../../../assets/imagens/icons8-linkedin.svg" alt="linkedin" class="icon"></a></li>
            <li><a href=""><img src="../../../assets/imagens/icons8-github.svg" alt="github" class="icon"></a></li>
            <li><a href=""><img src="../../../assets/imagens/icons8-instagram.svg" alt="instagram" class="icon"></a></li>
        </ul>
    </div>
    <div class="container-pages">
        <a href="">Sobre mim</a>
        <a href="">Projetos</a>
        <a href="">Blog</a>
        <a href="">Contatos</a>
    </div>
</div>